pytz==2020.4
pika==1.1.0
PyJWT==1.7.1
flask~=1.1.2
docker~=4.4.1
requests~=2.25.1
gunicorn
gevent
python-dateutil
pytz~=2021.1
urllib3~=1.26.2
jwt~=1.1.0
pymongo~=3.11.3
timeloop~=1.0.2
Werkzeug~=1.0.1
python-dateutil
requests~=2.25.1
pyopenssl~=20.0.1
